@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: clip;
    
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh;
    min-height: -webkit-fill-available;

    background-image: url("./images/background.jpg");
    background-size: cover;
}

html {
    height: -webkit-fill-available;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.font-script {
    font-family: 'Dancing Script', cursive;
}

.gradient-bttn {
    background-image: linear-gradient(to right, rgba(205, 133, 244, 0.6), rgba(101, 87, 242, 0.6));
    pointer-events: auto;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

.gradient-bttn:active {
    background-image: linear-gradient(to right, rgba(205, 133, 244, 0.3), rgba(101, 87, 242, 0.3));
    border: 1px solid rgb(255, 255, 255, 0.7);
    color: rgba(255, 255, 255, 0.637);
}

.gradient-bttn-disabled {
    background-image: linear-gradient(to right, rgba(205, 133, 244, 0.3), rgba(101, 87, 242, 0.3));
    border: 1px solid rgb(255, 255, 255, 0.7);
    pointer-events: none;
    color: rgba(255, 255, 255, 1);
}





.white-glassmorphism {
    /* background: rgba(255, 255, 255, 0.05); */
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}